html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contact-info {
    list-style-type: none;
}

.m-5 {
    color: rgb(94, 94, 94);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}